@import '../less/index.less';

.head{
  padding-top: 18px;
  background-color: #fff;
  min-height: 400px;
  .bgs{
    background-color: #fff;
    // height: 332px!important;
    height: 100%;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    & > a{
      color: transparent;
      display: block;
      width: 100%;
      height: 332px;
    }
  }
}

.next{
  background-image: none;
  font-size: 40px;
  cursor: pointer;
  color: rgba(200, 200, 200, .6);
  transition: color ease-in .2s;
}
.next:hover.next{
  color: rgba(0, 0, 0, 1);
};
.prev{
  background-image: none;
  font-size: 40px;
  cursor: pointer;
  color: rgba(200, 200, 200, .6);
  transition: color ease-in .2s;
}
.prev:hover.prev{
  color: rgba(0, 0, 0, 1);
};


.newSlider{
  min-height: 200px;
  width: 100%;
}
:global{
  .lun{
    .ant-carousel .slick-slide{
      height: 332px
    }



    // 轮播图
    .swiper-pagination-bullet-active{
      // background-color: @theme-color;
    }
  }

  .swiper-wrapper{
    & > div{
      background-repeat: no-repeat;
      background-size: cover;
      width: 100%;
    }
  }
  .swiper-container {
    width: 100%;
    height: 332px;
  }

};


.lun1{
  background-image: url('../assets/lun1.jpg');
}
.lun2{
  background-image: url('../assets/lun2.jpg');
}
.lun3{
  background-image: url('../assets/lun3.jpg');
}
.hotBox{
  margin: 25px 0 10px;
  line-height: 32px;
  font-weight: bold;
  font-size: 18px;
  .l_hot{

  }
  .r_hot{
    text-align: right;
  }
}
.tabLink{
  text-align: center;
  & > a{
    display: inline-block;
    margin: 0 20px;
    line-height: 42px;
    font-weight: bold;
    font-size: 16px;
    border-bottom: 2px solid transparent;
  }
  .ac{
    border-color: #000;
    color: #000;
    font-size: 20px;
  }
}

.gutterBox{
  margin-bottom: 25px;
  overflow: hidden;
  height: 185px;
  .gutter_row{
    display: inline-block;
    width: 226px;
  }
  .mar{
    margin-right: 17px;
  }
}

.cellBox{
  text-align: center;
  border-radius: 5px;
  // height: 226px;
  height: 185px;
  position: relative;
  cursor: pointer;
  background-size: 150% 150%;
  background-position: center center;
  .shadow{
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0,0,0,.6);
  }
  .cons{
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
  }
  .avart{
    width: 55px;
    margin-top: 15px;
    border-radius: 50%;
  }
  p{
    margin-bottom: 2px;
  }
  p:nth-child(2){
    color: #fff;
    font-size: 14px;
  }
  .txt{
    display: flex;
    color: rgba(255, 255, 255, .7);
    font-size: 12px;
  }
  .line{
    padding-top: 1px;
    & > i{
      display: inline-block;
      width: 2px;
      height: 10px;
      background-color: rgba(255, 255, 255, .7);
    }
  }
  .l_label{
    // border-right: 1px solid rgba(255, 255, 255, .7);
    padding-right: 5px;
    text-align: right;
    flex: 1;
  }
  .r_label{
    padding-left: 5px;
    // border-left: 1px solid rgba(255, 255, 255, .7);
    text-align: left;
    flex: 1;
  }
  .btn{
    width: 80%;
    margin-top: 10px;
    color: #282828;
  }
  .grays{
    background-color: #D2D0D1;
    border-color: #D2D0D1;
  }
  
}



.word{
  padding: 0 20px;
  white-space: nowrap;  
  text-overflow:ellipsis; 
  overflow:hidden;
}








