

.historyClass{
  padding-top: 20px;

  .cons{
    background-color: rgba(255, 209, 0, .1);
    min-height: 1000px;
    padding: 40px 40px 80px;
    .inter{
      margin-bottom: 20px;
    }
    h1,h3,h4{
      text-align: center;
      margin: 0;
    }
    h4{
      margin-bottom: 20px;
    }
    h3{
      margin: 20px 0;
    }
    p{
      text-indent: 2em;
      line-height: 32px;
    }

    ul{

      li{
        text-indent: 2em;
        line-height: 32px;
      }
    }
  }
}