@font-icon: 'myself-icon';



@font-face {
  font-family: @font-icon;  /* project id 543225 */
  src: url('https://at.alicdn.com/t/font_543225_34blulofb3a.eot');
  src: url('https://at.alicdn.com/t/font_543225_34blulofb3a.eot?#iefix') format('embedded-opentype'),
  url('https://at.alicdn.com/t/font_543225_34blulofb3a.woff') format('woff'),
  url('https://at.alicdn.com/t/font_543225_34blulofb3a.ttf') format('truetype'),
  url('https://at.alicdn.com/t/font_543225_34blulofb3a.svg#iconfont') format('svg');
}

:global(.myself-icon) {
  font-family: @font-icon !important;
}