@font-icon: 'myself-icon';


@font-face {
  font-family: @font-icon;  /* project id 543225 */
  src: url('https://at.alicdn.com/t/font_543225_i6a181hnld.eot');
  src: url('https://at.alicdn.com/t/font_543225_i6a181hnld.eot?#iefix') format('embedded-opentype'),
  url('https://at.alicdn.com/t/font_543225_i6a181hnld.woff') format('woff'),
  url('https://at.alicdn.com/t/font_543225_i6a181hnld.ttf') format('truetype'),
  url('https://at.alicdn.com/t/font_543225_i6a181hnld.svg#iconfont') format('svg');
}
:global(.myself-icon) {
  font-family: @font-icon !important;
}