
@import '../less/index.less';

.boxes{
  width: 100%;
  position: relative;
  padding: 50px 100px;
  .proBox{
    height: 12px;
    width: 100%;
    overflow: hidden;
    background-color: #eaeaea;
    border-radius: 10px;
  }
  .progress{
    // width: 80%;
    height: 100%;
    border-radius: 10px;
    background: repeating-linear-gradient(-45deg, #ffd100, #ffd100 15px, #ffda33 0, #ffda33 30px);
  }
  .pro{
    padding: 0 60px;
  }
  .con{
    margin-top: -36px;
    display: flex;
    .mou{
      flex: 1;
    }
    .cell{
      text-align: center;
      display: inline-block;
      & > i{
        display: block;
        font-style: normal;
      }
      i{
        font-style: normal;
      }
      .dot{
        display: inline-block;
        height: 60px;
        width: 60px;
        // background-color: rgba(230, 230, 122, 1);
        // background-color: @theme-color;
        background-color: #fff;
        text-align: center;
        line-height: 60px;
        border-radius: 50%;
      }
      .complate{
        background-color: @theme-color;
      }
      .h1{
        font-size: 18px;
        font-weight: bold;
        padding: 10px 0 5px;
      }
      .num{
        font-size: 12px;
        color: #585858;
      }
    }   
  }

}
.leaveMesBox{
  text-align: right;
  padding-bottom: 10px;
}

.headerBox{
  height: 410px;
  overflow: hidden;
  & > div{
    display: inline-block;
    vertical-align: top;
  }
  .left{
    width: ~'calc(100% - 282px)';
    height: 410px;
    .bgs{
      background-color: #fff;
      height: 410px;
      overflow: hidden;
      text-align: center;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center center;
      // background-size: 100% 100%;
      & > h3{
        color: transparent;
      }
    }
  }
  .right{
    padding-left: 20px;
    .top{
      height: 197px;
      width: 242px;
      width: 100%;
      margin-bottom: 16px;
      padding: 25px;
      background-color: #fff;
      text-align: center;
      
      .imgs{
        height: 56px;
        width: 56px;
        border-radius: 50%;
        margin: 0 auto;
        overflow: hidden;
        & > img{
          height: 100%;
          width: 100%;
        }
      }
      & > h3{
        margin-top: 10px;
        font-size: 16px;
        color: #282828;
      }
      .txt{
        display: flex;
        color: #c9c9c9;
        font-size: 14px;
        line-height: 32px;
      }
      .line{
        padding-top: 1px;
        & > i{
          display: inline-block;
          width: 2px;
          height: 10px;
          background-color: #c9c9c9;
        }
      }
      .l_label{
        padding-right: 5px;
        text-align: right;
        flex: 1;
      }
      .r_label{
        padding-left: 5px;
        text-align: left;
        flex: 1;
      }
    }
    .btm{
      padding: 25px;
      height: 197px;
      width: 100%;
      background-color: #fff;
      text-align: center;
      & > h1{
        font-size: 25px;
        margin-top: 0;
      }
      .love{
        padding-bottom: 30px;
        font-size: 18px;
        .red{
          color: red;
        }
      }
    }
  }
}


.btn{
  font-size: 14px;
  border-radius: 20px;
  &:hover{
    // color: #000;
  }
}
.commentBox{
  margin-top: 40px;
  background-color: #fff;
  min-height: 1200px;
  .ttxt{
    padding: 36px 110px 16px;
    border-bottom: 1px solid rgba(230,230,230,1);
  }
  & > p{

  }

  .cons{
    padding: 30px 100px;
    text-align: right;
    color: #000;
    border-bottom: 1px solid rgba(230,230,230,1);
  }
  .total{
    padding: 20px 110px 40px;
    font-size: 16px;
    color: #585858;
  }
  .commentList{
    padding: 0px 110px;
    & > li{
      display: flex;
      border-bottom: 1px solid rgba(230,230,230,1);
      margin-bottom: 20px;
      img{
        height: 60px;
        border-radius: 50%;
      }
      .avarBox{
        padding-right: 16px;
      }
      .con{
        flex: 1;
        & p{
          line-height: 32px;
        }
        .name{
          font-size: 16px;
          .time{
            color: #c9c9c9;
            padding-left: 40px;
            font-size: 12px;
          }
        }
      }
    }

    .contain{
      background-color: #f4f4f4;
      min-height: 100px;
      position: relative;
      margin-top: 10px;
      padding: 10px 20px;
      &::before{
        content: '';
        display: block;
        width: 0px;
        height: 0px;
        position: absolute;
        left: 30px;
        top: -24px;
        border-top: 12px solid transparent;
        border-left: 12px solid transparent;
        border-right: 12px solid transparent;
        border-bottom: 12px solid #f4f4f4;
      }
    }
    .ll{

    }

    .iconList{
      text-align: right;
      padding: 15px 0;
      .ii{
        cursor: pointer;
        font-size: 18px;
      }
      .star{
        position: relative;
        margin-left: 30px;
        width: 18px;
        height: 18px;
        .ce{
          position: absolute;
          left: 0;
          top: -2px;
        }
      }
    }
  }
}

.more{
  display: block;
  padding: 20px 0;
  text-align: center;
  font-size: 16px;
  letter-spacing: 2px;
}


:global{
  .star {
    display: inline-block;
    transform: scale(1);
  }
  .star-enter {
    opacity: 1;
    transform: translateY(0%) scale(1);
  }
  .star-enter-active {
    opacity: 1;
    transform: translateY(0%) scale(1);
    transition: all 300ms ease-out;
  }
  .star-exit {
    opacity: 1;
    transform: translateY(0%) scale(1.25);
  }
  .star-exit-active {
    opacity: 0;
    transform: translateY(-100%) scale(2);
    transition: all 300ms ease-in;
  }
};

