
.mark{
  height: 252px;
  width: 232px;
  background-color: #ffc;
  margin-bottom: 10px;
  text-align: center;
}
.mar{
  margin-right: 10px;
}


.modelBox{

}


.hots{
  padding: 20px 0;
  display: flex;
  flex-wrap: wrap;
  min-height: 500px;
}

:global{
  .pageBox{
    padding: 20px 0;
    text-align: center;
    & > ul{
      display: inline-block;
    }
  }
};