
.mark{
  width: 227px;
  margin-bottom: 20px;
  text-align: center;
}
.mar{
  margin-right: 16px;
}


.modelBox{
  background-color: #fff;
  .imgs{
    height: 175px;
    background-size: 100% 100%;
    background-position: center center;
    background-repeat: no-repeat;
    // background-size: cover;
  }
  .con{
    padding: 10px 16px;
    text-align: left;
    & > h4{
      font-size: 14px;
      color: #282828;
      margin-bottom: 5px;
    }
    & > p{
      color: #888;
      font-size: 12px;
      margin-bottom: 15px;
      // 不换行
      white-space: nowrap;  
      text-overflow:ellipsis; 
      overflow:hidden;
    }
    & > span{
      color: #c9c9c9;
      cursor: pointer;
    }
    border-bottom: 1px solid #e3e3e3;
  }
  .footBox{
    display: flex;
    padding: 10px 16px;
    .left{
      text-align: left;
      line-height: 24px;
    }
    .mid{
      flex: 1;
      text-align: left;
      padding-left: 10px;
      font-weight: bold;
      color: #282828;
    }
    .right{
      text-align: right;
      line-height: 24px;
      font-size: 12px;
      color: #c9c9c9;
    }
  }

  .filBtn{
    display: table;
    width: 100%;
    & > div{
      display: table-cell;
      width: 50%;
    }
    .filR{
      text-align: right;
    }
  }
}


.hots{
  padding: 17px 0;
  display: flex;
  flex-wrap: wrap;
  // min-height: 500px;
}

:global{
  .pageBox{
    padding: 20px 0;
    text-align: center;
    & > ul{
      display: inline-block;
    }
  }
};

.navs{
  background-color: #fff;
  text-align: center;
  padding-top: 20px;
  & > span{
    display: inline-block;
    padding: 0 10px;
    margin-right: 10px;
  }
}

.menuItems{
    height: 46px;
    line-height: 46px;
    text-align: center;
    position: relative;
    cursor: pointer;
    font-size: 16px;
    a{
      // color: #fff;
    }
    
}
.menuItems::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 100%;
  width: 0;
  height: 2px;
  border-bottom: 2px solid #000;
  transition: all ease-in .2s;
}
.menuItems:hover::before{
  width: 100%;
  bottom: 0;
  left: 0;
  transition-delay: 0.1s;
  border-bottom-color: #000;
}
.menuItems:hover ~ .menuItems::before {
  left: 0;
}
.active::before{
  width: 100%;
  bottom: 0;
  left: 0;
  transition-delay: 0.1s;
  border-bottom-color: #000;
}
.active{
  color: #000;
}



