<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script type="text/javascript" src="https://cdn.bootcss.com/es6-shim/0.35.3/es6-sham.min.js"></script>
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
  <title>brickFUN筑乐</title>
</head>
<body>
  <div id="root"></div>
</body>
</html>
