<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="baidu-site-verification" content="53X7cQm1Yf" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="keywords" content="也造,51bricks,积木,也造积木,造生活,造梦想,筑梦,ye-zao我的筑梦旅程,"/>
  <meta name="description" content="一家专注服务于设计师积木原创和消费者互动体验的新型互联网社群科技公司,让每个人激活创造潜能，收获创造带来的乐趣和价值,有料、有趣的积木玩家，在这里，一起造生活，也造梦想！"/>
  <script type="text/javascript" src="https://res.wx.qq.com/connect/zh_CN/htmledition/js/wxLogin.js"></script>
  <script type="text/javascript" src="/swiper.min.js"></script>
  <script type="text/javascript" src="/es6-shim.min.js"></script>
  <link rel="stylesheet" type="text/css" href="/swiper.min.css">
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
  <title>也造</title>
  <style type="text/css">
    .title_dis{
      opacity: 0;
      height: 0;
      overflow: hidden;
      position: absolute;
      left: -100%;
      top: 0;
    }
  </style>
</head>
<body>
  <h1 class="title_dis">也造官网</h1>
  <div id="root"></div>
  <script>
  (function(){
      var bp = document.createElement('script');
      var curProtocol = window.location.protocol.split(':')[0];
      if (curProtocol === 'https') {
          bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
      }
      else {
          bp.src = 'http://push.zhanzhang.baidu.com/push.js';
      }
      var s = document.getElementsByTagName("script")[0];
      s.parentNode.insertBefore(bp, s);
  })();
  </script>
</body>
</html>
