<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="baidu-site-verification" content="0ogSH9qe08" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script type="text/javascript" src="https://cdn.bootcss.com/es6-shim/0.35.3/es6-sham.min.js"></script>
  <script type="text/javascript" src="https://res.wx.qq.com/connect/zh_CN/htmledition/js/wxLogin.js"></script>
  
  <script type="text/javascript" src="/swiper.min.js"></script>
  <link rel="stylesheet" type="text/css" href="/swiper.min.css">
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
  <title>也造</title>
</head>
<body>
  <div id="root"></div>
</body>
</html>
